<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jspServletLoginTest</display-name>
  <servlet>
    <description></description>
    <display-name>kkkkk</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>
  eHotel.servlet.EmployeeloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/logintest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>anythinghere</display-name>
    <servlet-name>custregServlet</servlet-name>
    <servlet-class>eHotel.servlet.CustomerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custregServlet</servlet-name>
    <url-pattern>/cusRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>custlogin</display-name>
    <servlet-name>custloginServlet</servlet-name>
    <servlet-class>eHotel.servlet.CustomerloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>custloginServlet</servlet-name>
    <url-pattern>/custlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roombook</display-name>
    <servlet-name>roombookServlet</servlet-name>
    <servlet-class>eHotel.servlet.RoombookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roombookServlet</servlet-name>
    <url-pattern>/roombook</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewBookRoom</display-name>
    <servlet-name>viewBookRoom</servlet-name>
    <servlet-class>eHotel.servlet.viewBookRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewBookRoom</servlet-name>
    <url-pattern>/viewBookRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeloginServlet</display-name>
    <servlet-name>EmployeeloginServlet</servlet-name>
    <servlet-class>eHotel.servlet.EmployeeloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeloginServlet</servlet-name>
    <url-pattern>/EmployeeloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employeelogin</display-name>
    <servlet-name>Employeelogin</servlet-name>
    <servlet-class>eHotel.servlet.EmployeeloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employeelogin</servlet-name>
    <url-pattern>/Employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkinServlet</display-name>
    <servlet-name>checkinServlet</servlet-name>
    <servlet-class>eHotel.servlet.checkinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkinServlet</servlet-name>
    <url-pattern>/checkinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>walkinServlet</display-name>
    <servlet-name>walkinServlet</servlet-name>
    <servlet-class>eHotel.servlet.walkinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>walkinServlet</servlet-name>
    <url-pattern>/walkinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkinconfirm</display-name>
    <servlet-name>checkinconfirm</servlet-name>
    <servlet-class>eHotel.servlet.checkinconfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkinconfirm</servlet-name>
    <url-pattern>/checkinconfirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rentRoomServlet</display-name>
    <servlet-name>rentRoomServlet</servlet-name>
    <servlet-class>eHotel.servlet.rentRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rentRoomServlet</servlet-name>
    <url-pattern>/rentRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>endDateServlet</display-name>
    <servlet-name>endDateServlet</servlet-name>
    <servlet-class>eHotel.servlet.endDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>endDateServlet</servlet-name>
    <url-pattern>/endDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>view1Servlet</display-name>
    <servlet-name>view1Servlet</servlet-name>
    <servlet-class>eHotel.servlet.view1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>view1Servlet</servlet-name>
    <url-pattern>/view1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAreaServlet</display-name>
    <servlet-name>viewAreaServlet</servlet-name>
    <servlet-class>eHotel.servlet.viewAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAreaServlet</servlet-name>
    <url-pattern>/viewAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCapacity</display-name>
    <servlet-name>viewCapacity</servlet-name>
    <servlet-class>eHotel.servlet.viewCapacity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCapacity</servlet-name>
    <url-pattern>/viewCapacity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hotelAreaServlet</display-name>
    <servlet-name>hotelAreaServlet</servlet-name>
    <servlet-class>eHotel.servlet.hotelAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hotelAreaServlet</servlet-name>
    <url-pattern>/hotelAreaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manlogin</display-name>
    <servlet-name>manlogin</servlet-name>
    <servlet-class>eHotel.servlet.manlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manlogin</servlet-name>
    <url-pattern>/manlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeRegister</display-name>
    <servlet-name>employeeRegister</servlet-name>
    <servlet-class>eHotel.servlet.employeeRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeRegister</servlet-name>
    <url-pattern>/employeeRegister</url-pattern>
  </servlet-mapping>
</web-app>